* {
    box-sizing: border-box;
    position: relative;
}
html {
    font-size: 10px;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #131516;
}
.wrapper {
    padding: 5rem;
}

.title {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.yellow {
    color: #FFC600;
}

.container{
    max-width: 1200px;
    margin: auto;
}

ul {
    justify-content: center;
    padding: 0;
    list-style: none;
}

.block{
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #3B4042;
    border-radius: .5rem;
    font-weight: bold;
}

.row:after{
    content: '';
    display: block;
    clear: both;
}
.col-lg-3{
    width: 25%;
    float: left;
}
@media screen and (max-width: 1100px) {
    .col-md-4 {
        width: 33.333%;
    }
}
 @media screen and (max-width: 700px) {
    .col-sm-2 {
        width: 50%;
    }
}

img {
    width: 100%;
}
.item {
    display: flex;
    font-size: 2rem;
    text-decoration: none;
    color: #FFC600;
    justify-content: center;
    padding-top: 1rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
