html {
    font-size: 10px;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #131516;
}
.wrapper {
    padding: 5rem;
}

.title {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.yellow {
    color: #FFC600;
}

ul {
    max-width: 1700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 2rem;
}

.block{
    width: 20%;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #3B4042;
    border-radius: .5rem;
    font-weight: bold;

}
img {
    width: 100%;
}
.item {
    display: flex;
    font-size: 2rem;
    text-decoration: none;
    color: #FFC600;
    justify-content: center;
    padding-top: 1rem;
}
